@import "../styles/variables";
@import "../styles/functions";
@import "../styles/mixins";

.page-header {
    background-color: miami-color("miamiAqua");
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 miami-color("miamiOrange");
    color: white;
    margin-bottom: 1px;

    h1 {
        @include fontSize(16px);
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px miami-color-mix(black, "miamiAqua", 30);

        @include media-breakpoint-up(sm) {
            @include fontSize(24px);
        }
    }
}
